[submodule ".registry"]
	path = .registry
	url = https://github.com/jgeller112/jgeller112.r-universe.dev
	branch = HEAD
[submodule "webgazeR"]
	path = webgazeR
	url = https://github.com/jgeller112/webgazeR
